a{
    color: #fff;
}


.nav-item{

    font-size: 20px;
    margin-right: 30px;
}

body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff; /* Fundo claro */
}

/*form/*

/* Reset de margem e preenchimento */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Container do formulário */
.container {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título do formulário */
h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

/* Estilo dos labels */
form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: #333;
}

/* Estilo dos inputs, selects e botão */
form input,
form select,
form button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    outline: none;
}

/* Estilo do botão */
form button {
    background-color: rgb(78, 205, 196);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
    border: none;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

/* Efeito hover do botão */
form button:hover {
    background-color: rgb(78, 205, 196);
    
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 1.5rem;
    }
}
